.input {
  margin-bottom: 1rem;
  height: 40px;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--dark-900);
  color: var(--ghost-100);
  padding: 1rem;
  border: 1px solid var(--ghost-100);
}

.input::placeholder {
  color: var(--ghost-100);
}
